body {
   
    background-color: #272727;
}

header img {
    // height: 8rem;
    // margin-left: 2rem;
    // position: relative;
    // bottom: 2.5rem;

    height: 8rem;
    margin-left: 2rem;
    display: flex;
    align-self: center;
    bottom: 2.5rem;
    position: sticky;
    
}
.site-header {
    position: sticky;
    margin: 0;
}
.site-header .wrapper {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // position: fixed;
    // top: 0;
    // left: 0;
    // margin-right: 5rem;
    // width: 100%;
    // // background: linear-gradient(to bottom, rgba(35, 7, 77, 1) 60%,rgba(204, 83, 51, 1) 100%);
    // background-color: #272727;
    // padding: var(--spacing-site);
    // padding-bottom: 5rem;
    
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
   
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: #272727;
    width: 100%;

}
.site-branding {
    order: 1;
    margin-right: 6rem;
}

.site-title {
    font-size: 2.8em;
    font-weight: bold;
    color: #FF652F;
    /* text-transform: uppercase; */
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 0.5rem;
    margin-top: 0.3rem;
    border-bottom: 2px solid #DDD;
    
}

.site-description {
    font-style: italic;
    font-family: 'Ubuntu', sans-serif;;
    font-size: 120%;
    color: #14A76C;
    margin-top: 0.5rem;
}

@media screen and (min-width: 1024px) {
    .site-footer .wrapper {
        display: flex;
        justify-content: space-between;
    }
}