<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}}t</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">

</head>

<body>
    <div class="site">

        <!-- <input type="checkbox" id="main-nav-toggle" name="main-nav-toggle"> -->
        <header class="site-header">
            <div class="wrapper">


                <div class="site-branding">
                    <p class="site-title">{{ site.title }}</p>
                    <p class="site-description">{{ site.description }}</p>
                </div>

                <!-- <label id="toggle" for="main-nav-toggle">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                    Menu
                </label> -->

                <nav class="navigation-main">
                    <ul>
                        <li><a class="fas fa-newspaper" href="{{ site.baseurl }}/">Blog</a></li>
                        <li><a class="fas fa-user-secret" href="{{ site.baseurl }}/about/">About</a></li>
                        <li><a class="fas fa-envelope" href="{{ site.baseurl }}/contacts/">Contacts</a></li>
                        <li><a class="fas fa-key" href="{{ site.baseurl }}/login/">Login</a></li>
                    </ul>

                </nav>

            </div>
        </header>

        <main class="site-content">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe expedita quia magni similique totam maiores
            minus quam voluptatibus quisquam repellat maxime, esse dolore architecto provident accusantium corrupti
            aperiam quibusdam consectetur.

            <section class="offer">
                Quality content here
            </section>
        </main>

        <footer class="site-footer">

        </footer>
    </div>


</body>

</html>